.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
  .product-header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .product-details {
    text-align: center;
    margin-top: 1rem;
  }
  
  .product-name-image {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .titulo {
    color: black;
    font-size: 30px;
    font-weight: 700;
  }
  
  .product-image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    max-height: 600px; /* Cambia el valor según sea necesario */
  }
  
  .product-footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  