.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
  